@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  line-height: 2.3rem;
  background-color: #fafbfc;
  color: #222;
}

h1,
h2,
h3 {
  font-family: "Lexend", serif;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
.header {
  background-color: #e4e7ea;
  padding: 1rem 0;
  border-bottom: 1px solid #a6aeb3;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}

.tagline {
  color: #848c8f;
  font-size: 1rem;
  font-family: "Lexend", serif;
}

.logo {
  height: 50px;
}

/* Hero Section */
.hero-section {
  background: linear-gradient(135deg, #2098e8, #89c1fc);
  border-bottom: 1px solid rgb(32, 152, 232, 0.1);
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 30px;
  max-width: 960px;
  margin: 0 auto;
  padding: 3rem 0;
  color: white;
}

.hero-content {
  width: 100%;
  max-width: 600px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 3.4rem;
}

.h1t {
  display: block;
  opacity: 0;
  animation: fadeIn 0.7s ease-out 0s forwards;
}

.h2t {
  color: #026287;
  display: block;
  opacity: 0;
  animation: fadeIn 0.7s ease-out 0.3s forwards;
}

.hero-content p {
  margin-bottom: 1.5rem;
  color: #f1f5f9;
  opacity: 0;
  animation: fadeIn 0.7s ease-out 0.6s forwards;
}

.store-badges {
  display: flex;
  align-items: center;
  gap: 20px;
  opacity: 0;
  animation: fadeIn 0.7s ease-out 0.9s forwards;
}

#download .store-badges {
  justify-content: center;
}

.store-badges img {
  height: 50px;
  transition: transform 0.2s ease-in-out;
}

.store-badges img:hover {
  transform: scale(1.1);
}

.hero-image img {
  margin-right: 50px;
  filter: drop-shadow(20px 15px 10px rgba(2, 98, 135, 0.7));
  animation: slideInFromLeft 2s cubic-bezier(0.25, 1, 0.5, 1);
}

@keyframes slideInFromLeft {
  0% {
    margin-right: 0;
  }
  100% {
    margin-right: 50px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Features Section */
.features-section {
  background-color: #f2f7ff;
  padding: 70px 0;
  text-align: center;
}

.features-section h2 {
  font-size: 2rem;
  color: #2098e8;
  margin-bottom: 2rem;
}

.features-grid {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.feature-item {
  background-color: #fff;
  border: 1px solid #e4e7ea;
  border-radius: 8px;
  padding: 30px;
  flex: 1 1 200px;
}

.feature-icon {
  margin: 0 auto;
  color-overlay: #2090008e8;
}

.feature-item h3 {
  color: #026287;
  margin-bottom: 0.5rem;
}

.feature-item p {
  color: #636a6c;
}

/* FAQ Section */
.faq-section {
  padding: 70px 0;
  border-top: 1px solid #e4f3ff;
}

.faq-section h2 {
  font-size: 2rem;
  text-align: center;
  color: #2098e8;
  margin-bottom: 2rem;
}

.accordion {
  max-width: 800px;
  margin: 0 auto;
}

.accordion-item {
  border: 1px solid #e4f3ff;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}

.accordion-header {
  width: 100%;
  background-color: #fff;
  border: none;
  padding: 15px 20px;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  color: #026287;
  cursor: pointer;
  outline: none;
}

.accordion-header:hover {
  background-color: #f2f7ff;
}

.accordion-header.active {
  background-color: #e4e7ea;
}

.accordion-content {
  padding: 15px 20px;
  background-color: #f9fafb;
  font-size: 20px;
  line-height: 32px;
  color: #636a6c;
  display: none;
}

/* Download Section */
.download-section {
  background-color: #e4f3ff;
  text-align: center;
  padding: 70px 0;
}

.download-section h2 {
  font-size: 2rem;
  color: #2098e8;
  margin-bottom: 1rem;
}

.download-section p {
  color: #636a6c;
  margin-bottom: 1.5rem;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #222;
  color: #fff;
  font-size: 0.9rem;
}

@media (max-width: 960px) {
  .nav-container,
  .container {
    padding: 0 20px;
  }
  .hero-container {
    padding: 30px 20px;
  }
  .hero-image img {
    margin-right: 20px;
  }

  @keyframes slideInFromLeft {
    0% {
      margin-right: 0;
    }
    100% {
      margin-right: 20px;
    }
  }
}

@media (max-width: 680px) {
  .hero-content {
    text-align: center;
  }
  .hero-container {
    flex-direction: column;
  }
  .store-badges {
    justify-content: center;
  }
  .tagline {
    font-size: 0.8rem;
  }
  .features-grid {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .nav-container img {
    margin: auto;
  }
  .tagline {
    display: none;
  }
  .store-badges {
    flex-direction: column;
  }
  .hero-image img {
    margin-right: 0;
  }

  @keyframes slideInFromLeft {
    0% {
      margin-right: 0;
    }
    100% {
      margin-right: 20;
    }
  }
}
